/* CSS positionning rule for the game area */
.game {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:88%;
}

/* CSS positionning rule for the game navigation panel: 
menu button, previous level button, next level button */
.nav-panel {
	top:20%;
	height:60%;
	width:12%;
	right:0px;
	position:absolute;
}
/* CSS positionning rule for the menu button */
.nav-panel-menu-btn {
	top:0%;
	height:20%;
	width:100%;
	position:absolute;
}
/* CSS positionning rule for the previous level button */
.nav-panel-prev-btn {
	top:33%;
	height:20%;
	width:100%;
	position:absolute;
}
/* CSS positionning rule for the next level button */
.nav-panel-next-btn {
	top:66%;
	height:20%;
	width:100%;
	position:absolute;
}
/* CSS positionning rule for the next difficulty picker */
.nav-panel-difficulty-picker  {
	bottom:0%;
	height:40%;
	width:100%;
	position:absolute;
	display:table;
}

div.nav-panel-difficulty-picker > div {
	display:table-row;
}
	
div.nav-panel-difficulty-picker > div > div {
  display: table-cell;
  border: 1px solid black;
  vertical-align: middle;
  text-align:center;
  font-size:100%;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  background: lightblue;
}

div.nav-panel-difficulty-picker > div:first-child > div {
  border-radius: 20% 20% 0% 0%;
}

div.nav-panel-difficulty-picker > div:last-child > div {
  border-radius: 0% 0% 20% 20%;
}

div.nav-panel-difficulty-picker > div.difficulty-picker-selected > div {
  background: rgb(255,200,0) !important;
}
